* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

ul {
    top: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
}

p {
    font-size: 18px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #333333;
}

ul li a:hover {
    background-color: #666666;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: #fff;
}

header h1 {
    font-size: 36px;
}

header h1 {
    margin-left: 20px;
}

main {
    position: relative;
    overflow: hidden;
}

.video {
    object-fit: cover;
    pointer-events: none;
    width: 100%;
    filter: blur(5px) brightness(65%);
    transform: scale(1.02);
}

.gif {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    pointer-events: none;
}

about {
    display: flex;
    padding: 20px;
}

about p {
    float: left;
    width: 50%;
    font-size: 24px;
    margin: 10px;
}

about img {
    float: right;
    object-fit: cover;
    width: 75%;
}

contact p {
    text-align: center;
}

footer {
    display: block;
    align-items: center;
    background-color: #111111;
    color: #fff;
    padding: 12px;
}

.opacity {
    text-align: center;
    opacity: 20%;
}

@media (max-width: 660px) {
    header h1 {
        display: none;
    }
}

#member-list, #media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.member-card {
    width: 420px;
    height: 120px;
    color: black;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.member-card .avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.member-card .info h2 {
    text-align: left;
}

.member-card .socials a {
    color: #333333;
    margin-right: 10px;
    font-size: 28px;
}

.member-card .socials a:hover {
    color: #777777;
}

.media-card {
    width: 400px;
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-card iframe {
    width: 100%;
    height: 225px;
}

.media-card .creator {
    margin-top: 10px;
}